<div class="page-container w-100 h-100 overflow-y position-relative">
    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded add-workspace-btn" (click)="addWorkspace()"></button>
    <h1>Workspaces List</h1>
    <ng-container *ngFor="let workspace of workspaces; let i = index;">
        <section>
            <section class="d-flex">
                <h1 class="me-2">{{workspace.title}}</h1>
                <span class="me-2 d-flex justify-content-center align-items-center colored-container" [style.background]="workspace.properties.background">
                    <i [className]="'fa ' + workspace?.properties.icon"> </i>
                </span>
                <button pButton pRipple type="button" icon="pi pi-file-edit" class="p-button-rounded" (click)="editWorkspace(workspace)"></button>
            </section>
            
            <div class="workbooks-container d-flex w-100 p-2">
                <ng-container *ngFor="let workbook of workspace.workbooks">
                    <a [routerLink]="['../workbook', workbook?._id]" class="d-inline-block mr-2" [style.margin-right]="'20px'">
                        <button class="me-2" pButton pRipple type="button" [label]="workbook?.title" class="p-button-rounded"></button>
                    </a>
                    
                </ng-container>
                <div class="add-workbook-container">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" (click)="addWorkbook(workspace)"></button>
                </div>
            </div>
        </section>
        <hr  class="mb-4"/>
    </ng-container>
</div>